%h1 Edit Lesson
= simple_form_for @lesson, url: course_lesson_path(@course, @lesson) do |f|
  = f.input :title, placeholder: 'Title'
  = f.input :content, placeholder: 'Add Link to Content Here'
  = f.submit "Save Edit"
= button_to "Delete Lesson", course_lesson_path(@course, @lesson), method: :delete, data: { confirm: "Are you sure?"}
= link_to "Cancel Edit", edit_course_path(@course)
