%h1 EDIT
= link_to "New Lesson", new_course_lesson_path(@course)
= simple_form_for @course do |f|
  = f.input :title, placeholder: 'Title'
  = f.input :subject, placeholder: 'Subject'
  = f.submit "Edit Course"

= button_to("Delete This Course", @course, method: :delete, data: { confirm: "Are you sure?"})

%ul
  -@course.lessons.each do |lesson|
    %li
      =link_to lesson.title, edit_course_lesson_path(@course, lesson)
