%h1 New Course
= simple_form_for @course do |f|
  = f.input :title, placeholder: 'Title'
  = f.input :subject, placeholder: 'Subject'
  = f.submit "Create New Course"
= link_to "Cancel", courses_path
