!!!
%html
  %head
    %title Open Course: Free Learning For The Future
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    -if logged_in?
      = link_to "Logout", user_session_path, method: :delete
    -else
      = link_to "Home", root_path
      = link_to "Sign Up", new_user_path
      = link_to "Sign In", new_user_session_path
    = yield
